$br-primary-color: white;
$primary-color:#9356dc;
$secondary-color:#ff79da;
$tertiary-color:#99e2d0;

$font-family: "Shrikhand", "Roboto", sans-serif;
html{
    max-width: 375px;
}

body{
    box-sizing: border-box;
    background-color: #99e2d0;
}
h1{
    display: flex;
    justify-content: space-between;
    
   
}